/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #ffb84c;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

.subtitle {
  color: black;
  font-size: 5vw;
  margin-left: 50px;
  margin-top: 0;
}
.title {
  font-size: 10vw;
  margin-left: 50px;
  margin-bottom: 0;
  padding-top: 0;
}
.content-text {
  margin: 50px;
}

.box-content {
  max-width: 100%;
}

.friends {
  display: block;
}

@media screen and (min-width: 380px) {
  .img-lore {
    width: 48%;
    height: auto;
    right: 100px;
    bottom: 0px;
    right: 45px;
    position: absolute;
    border-style: solid;
    border-radius: 40%;
  }
}

@media screen and (max-width: 442px) {
  .img-lore {
    display: none;
  }
}

@media screen and (min-width: 442px) {
  .img-lore {
    width: 40%;
    position: static;
    margin: 0 auto;
    display: block;
  }
}

@media screen and (min-width: 740px) {
  .box-content {
    max-width: 70%;
  }
  .friends {
    display: flex;
  }
  .img-lore {
    width: 25%;
    height: auto;
    right: 45px;
    position: absolute;
    bottom: 180px;
    top: 200px;
  }
}

@media screen and (min-width: 1026px) {
  .img-lore {
    width: 20%;
    right: 50px;
    /* bottom: 160px; */
    top: 200px;
  }
}

@media screen and (min-width: 1260px) {
  .img-lore {
    width: 20%;
    right: 50px;
    /* bottom: 100px; */
    top: 300px;
  }
}

@media screen and (min-width: 1400px) {
  .box-content {
    max-width: 70%;
  }
  .friends {
    display: flex;
  }
}

@media screen and (min-width: 1500px) {
  .img-lore {
    width: 20%;
    height: auto;
    right: 90px;
    bottom: 0px;
    top: 300px;
  }
}

a {
  color: #000000;
  font-weight: 600;
  margin-bottom: 20px;
  text-decoration: none;
  padding: 1em 5em;
  background: #ffb84c;
  border: none;
  border-radius: 0.5rem;
  color: #444;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(247, 195, 84, 0.7),
    -6px -6px 10px rgba(239, 227, 167, 0.5),
    6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
}
a:hover {
  box-shadow: -2px -2px 6px rgba(247, 195, 84, 0.7),
    -2px -2px 4px rgba(240, 232, 193, 0.5),
    2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}
a:active {
  box-shadow: inset -2px -2px 6px rgba(247, 195, 84, 0.7),
    inset -2px -2px 4px rgba(240, 232, 193, 0.5),
    inset 2px 2px 2px rgba(255, 255, 255, 0.075),
    inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.links {
  display: flex;
  justify-content: space-between;
}
